<a href="https://colab.research.google.com/github/vsingla1/Predictive_Analysis_using_Analytics/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assignment 1

In [40]:
### Importing The Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
### Reading the File
df = pd.read_csv('/content/data.csv',encoding='latin1')
df.head()

/tmp/ipython-input-636630543.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/data.csv',encoding='latin1')

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152.0,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151.0,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [42]:
### Taking Our Required Column
x=df['no2']
x.shape

(435742,)

In [43]:
### Checking for NULL values
x.isnull().sum()

np.int64(16233)

In [44]:
### Droping the NULL values
x.dropna(inplace=True)
x.shape

(419509,)

In [45]:
### Defining My Roll Number
R=102303806

In [46]:
### Computing the Transformation cofficients
ar = 0.05*(R % 7)
br = 0.3 *((R % 5) + 1)
print(f'ar coffiecient = {ar}')
print(f'br coffiecient = {br}')

ar coffiecient = 0.15000000000000002
br coffiecient = 0.6

In [47]:
### The Transformation of X into Z
z = x + ar * np.sin(br * x)
z.shape

(419509,)

In [48]:
### checking the z head
z.head()

0    17.272560
1     6.869264
2    28.352390
3    14.785287
4     7.353370
Name: no2, dtype: float64

In [49]:
### The Equation given in the question is the eqation of the Gaussian Dist
### The form p(z)=1/sqrt(2*pi*var) * e^((z-u)^2/(2*var))

In [50]:
### Calculating the Values of lam,u,c
u = np.mean(z)
var = np.var(z,ddof=0)
lam = 1/(2*var)
c=1/np.sqrt(2*np.pi*var)

In [51]:
### Printing the Values
print(f'u value : {u}')
print(f'lam value : {lam}')
print(f'c value : {c}')

u value : 25.811446214420034
lam value : 0.0014605519159743663
c value : 0.021561727995207572

In [52]:
### Rounding the values
u=round(u,6)
lam=round(lam,6)
c=round(c,6)

In [53]:
### Printing The Rounded Values
print(f'u value : {u}')
print(f'lam value : {lam}')
print(f'c value : {c}')

u value : 25.811446
lam value : 0.001461
c value : 0.021562